/* line 5, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 31, ../sass/style.scss */
body {
  background-color: #000;
}

/* line 34, ../sass/style.scss */
.container {
  height: 100vh;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../.rvm/gems/ruby-2.2.1/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 39, ../sass/style.scss */
.user {
  background: #ccc;
  position: relative;
}
/* line 42, ../sass/style.scss */
.user .links {
  position: absolute;
  right: 0em;
  bottom: 0em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
}
/* line 49, ../sass/style.scss */
.user .links::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
}
/* line 58, ../sass/style.scss */
.user .links .link {
  position: relative;
}
/* line 60, ../sass/style.scss */
.user .links .link > a {
  display: inline-block;
  padding: 0.5em;
  font-size: 30px;
  color: #fff;
  float: right;
}
/* line 66, ../sass/style.scss */
.user .links .link > a:hover {
  transform: scale(1.4);
  transition: all .3s;
}
/* line 73, ../sass/style.scss */
.user .links .website:hover > a {
  color: #ccc;
}
/* line 78, ../sass/style.scss */
.user .links .facebook:hover > a {
  color: #3b5998;
}
/* line 83, ../sass/style.scss */
.user .links .twitter:hover > a {
  color: #4099ff;
}
/* line 88, ../sass/style.scss */
.user .links .linkedin:hover > a {
  color: #0077b5;
}
/* line 93, ../sass/style.scss */
.user .links .behance:hover > a {
  color: #053eff;
}
/* line 98, ../sass/style.scss */
.user .links .dribbble:hover > a {
  color: #ea4c89;
}
/* line 103, ../sass/style.scss */
.user .userpic {
  padding-top: 100%;
  position: relative;
}
/* line 106, ../sass/style.scss */
.user .userpic .desktop-pic,
.user .userpic .mobile-pic {
  position: absolute;
  top: 0px;
}
/* line 110, ../sass/style.scss */
.user .userpic .desktop-pic img,
.user .userpic .mobile-pic img {
  width: 100%;
}
@media (min-width: 700px) {
  /* line 39, ../sass/style.scss */
  .user {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1000px) {
  /* line 39, ../sass/style.scss */
  .user {
    width: 66.66667%;
    float: left;
  }
  /* line 123, ../sass/style.scss */
  .user [class^=mobile] {
    display: none;
  }
  /* line 126, ../sass/style.scss */
  .user .userpic {
    padding-top: 37.49%;
  }
}

/* line 132, ../sass/style.scss */
.work {
  position: relative;
}
/* line 134, ../sass/style.scss */
.work:hover .day {
  transform: scale(1.2);
  transition: all .3s;
}
/* line 138, ../sass/style.scss */
.work .pic {
  padding-top: 75%;
  background-color: #ccc;
  position: relative;
}
/* line 142, ../sass/style.scss */
.work .pic img {
  width: 100%;
  position: absolute;
  top: 0px;
}
@media (min-width: 700px) {
  /* line 132, ../sass/style.scss */
  .work {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1000px) {
  /* line 132, ../sass/style.scss */
  .work {
    width: 33.33333%;
    float: left;
  }
}
/* line 154, ../sass/style.scss */
.work .day {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  bottom: 1em;
  left: 1em;
}
/* line 164, ../sass/style.scss */
.work .day p {
  font-size: 1.5em;
  line-height: 1.5;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* line 173, ../sass/style.scss */
.work .loader {
  position: absolute;
  left: 50%;
  top: 50%;
}
